*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 250, 252);
}

section{
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.main{
    border-radius: 1rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow:  0 0 1rem rgb(169, 169, 223);
}

video{
    background-color: #2B7DFA;
    width: 15rem;
    display: flex;
    align-self: center;
    margin-bottom: 1rem;
}

.top{
    display: flex;
}

.info{
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

.goals{
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 0.9rem;
}

.goals-list{
    padding: 1rem;
    border-radius: 0.6rem;
    color: #000;
}


h2{
    text-align: center;
    margin-bottom: 0.8rem;
}

.goals{
    display: flex;
    flex-direction: column;
}

.goal{
    margin-bottom: 0.5rem;
}

span{
    color: bisque;
    font-size: 10rem;
}

.corevalues{
    display: flex;
    justify-content: space-between;
}

.corevalue{
    width: 30%;
    text-align: center;
    background-color: #2B7DFA;
    box-shadow: 0 0 10px #2B7DFA;
    padding: 0.5rem;
    border-radius: 10px;
    color: #fff;
}

.valuetitle{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.valueword{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
    .top{
        flex-direction: column;
    }

    .goals{
        width: 100%;
        text-align: center;
    }    
    
    .corevalues{
        flex-direction: column;
    }
    
    .corevalue{
        width: 100%;
        margin-bottom: 1rem;
    }
    
}